:root {
    --primary: #0bafd2;
    --secondary: #404141;   
  }

body{ padding: 0px; margin: 0px; background-image: url(../images/hex.jpg); }
nav{ height: 150px; background: linear-gradient(to bottom , var(--secondary), var(--primary)); }

.logo{
    font-family: fantasy;
    color: whitesmoke;
    border: solid black 4px;
    background-color: var(--secondary);
}

#timer{
    font-family: fantasy;
    border: black solid 4px;
    background-color: var(--secondary);
    color: whitesmoke;
    margin: .5vw;

}

.menu_btn{
    background-color: var(--secondary); 
    border: black solid 4px;
    color: whitesmoke;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
}
.menu_btn:hover{ color: var(--primary); background-color: black; }
.menu_btn:disabled{ color: var(--primary); background-color: black; }

.modal-content{ border: solid 2px white; }
.modal-header{ background: linear-gradient(to bottom , var(--secondary), var(--primary)); }
.modal-body{ background-color: var(--secondary); color: whitesmoke; }
.modal-footer{ background: linear-gradient(to bottom , var(--secondary), var(--primary)); }

.circle{
    border: solid 3px black;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 50%;
    min-width: 3vw;
    min-height: 6vh;
}


p{
    align-items: center;
    font-size: 2vw;
}


h1{ color: whitesmoke; font-size: 2vw; text-decoration: underline; }
h2{ color: whitesmoke; font-size: 2vw; padding-left: 50px;}
h4{ color: whitesmoke; }
ul{ color: whitesmoke; font-size: 1vw; }
p.message{ color: whitesmoke; font-size: 1vw; }

.swal-overlay {
background-color: rgba(111, 118, 119, 0.75);
}

.swal-modal {
background-color: rgba(11,172,206,0.9);
border: 3px solid whitesmoke;
}


.swal-text {
    color:whitesmoke;
    font-size: 2vw;
}

.swal-button {
background-color: whitesmoke;
color: var(--primary);
}

button:focus {
    outline:0;
}